In [1]:
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [2]:
from IPython.display import display, HTML
display(HTML("<style>pre { white-space: pre !important; }</style>"))

### Create the schema of the streamed files (check the column names and types from the CSV files)

In [3]:
recordSchema = StructType([ StructField('Id',IntegerType(), True),
                            StructField('Date',DateType(), True),
                            StructField('Open', DoubleType(), True),
                            StructField('High', DoubleType(), True),
                            StructField('Low', DoubleType(), True),
                            StructField('Close', DoubleType(), True),
                            StructField('Adj_Close', DoubleType(), True),
                            StructField('Volume', IntegerType(), True)])

### Create the dataframe by reading the stream using format "csv" and the schema you created.

In [4]:
df1 = spark.readStream.format("csv")\
    .schema(recordSchema)\
    .load('InputStream')

### Make sure the dataframe is streaming the files from the folder

In [5]:
df1.isStreaming

True

### Create a stream writer into memory and specify the query name "stock:

In [6]:
writer1 = df1.writeStream.outputMode("append")\
    .format("memory")\
    .queryName('stock')

### Start the write stream and make sure it works (read all columns from the table)

In [7]:
query1= writer1.start()

23/10/31 18:12:53 WARN ResolveWriteToStream: Temporary checkpoint location created which is deleted normally when the query didn't fail: /tmp/temporary-e47de461-4279-4008-b623-0511de5c0571. If it's required to delete it under any circumstances, please set spark.sql.streaming.forceDeleteTempCheckpointLocation to true. Important to know deleting temp checkpoint folder is best effort.
23/10/31 18:12:53 WARN ResolveWriteToStream: spark.sql.adaptive.enabled is not supported in streaming DataFrames/Datasets and will be disabled.

In [16]:
df2 = spark.sql('SELECT * FROM stock')
df2.show(1000)

+----+----------+------------+------------+------------+------------+------------+------+
|  Id|      Date|        Open|        High|         Low|       Close|   Adj_Close|Volume|
+----+----------+------------+------------+------------+------------+------------+------+
|NULL|      NULL|        NULL|        NULL|        NULL|        NULL|        NULL|  NULL|
|   0|2000-01-04|22817.900391|25696.800781|22817.900391|24879.300781|23510.880859|108745|
|   1|2000-01-05|24523.900391|26229.900391|23670.900391|24417.300781|23074.294922|175990|
|   2|2000-01-06|24381.699219|24666.099609|22746.800781|22817.900391|21562.865234| 71746|
|   3|2000-01-07|     22036.0|24879.300781|     22036.0|23884.199219|22570.513672|120984|
|   4|2000-01-10|24879.300781|25519.099609|23813.099609|24061.900391|22738.439453|151371|
|   5|2000-01-11|     24168.5|     25021.5|23955.199219|24239.599609|22906.365234| 95943|
|   6|2000-01-12|     24168.5|24452.800781|23457.599609|23670.900391|22368.947266| 61899|
|   7|2000-01-13|23670.900391|24132.900391|23102.199219|23244.400391| 21965.90625| 57538|
|   8|2000-01-14|23457.599609|     24168.5|22746.800781|23244.400391| 21965.90625| 84267|
|   9|2000-01-17|22533.599609|23457.599609|22533.599609|23457.599609|22167.376953| 67807|
|  10|2000-01-18|23457.599609|     23742.0|22746.800781|23422.099609|22133.832031| 27995|
|  11|2000-01-19|22817.900391|23173.300781|     22036.0|     22036.0|20823.970703| 44173|
|  12|2000-01-20|21325.099609|22000.400391|     20756.5|21680.599609|20488.117188| 47550|
|  13|2000-01-21|21680.599609|22391.400391|20863.099609|21680.599609|20488.117188| 80750|
|  14|2000-01-24|20969.699219|21822.699219|20969.699219|20969.699219|19816.320313| 79906|
|  15|2000-01-25|20258.900391|20934.199219|     19548.0|20116.699219|19010.236328|170925|
|  16|2000-01-26|20223.300781|20543.199219|19761.300781|     20330.0|19211.804688| 59929|
|  17|2000-01-27|     20401.0|22746.800781|     20330.0|21040.800781|19883.511719|139132|
|  18|2000-01-28|21431.800781|22107.099609|21040.800781|21964.900391|20756.783203| 78640|
|  19|2000-01-31|21325.099609|21893.800781|     21183.0|21467.300781|20286.552734| 45861|
|  20|2000-02-01|22249.199219|22675.699219|21751.599609|21822.699219|20622.402344| 64009|
|  21|2000-02-02|22249.199219|22675.699219|21858.300781|22604.599609|21361.294922| 55006|
|  22|2000-02-03|22604.599609|23031.099609|     22036.0|22746.800781|21495.675781| 45721|
|  23|2000-02-04|22746.800781|22746.800781|22746.800781|22746.800781|21495.675781|     0|
|  24|2000-02-07|22746.800781|23066.699219|22107.099609|22533.599609|21294.199219| 65416|
|  25|2000-02-08|22533.599609|23457.599609|22107.099609|22178.099609|20958.253906| 54865|
|  26|2000-02-09|22391.400391|23102.199219|     22036.0|22355.800781|21126.181641|120703|
|  27|2000-02-10|     22036.0|22391.400391|     21218.5|21787.199219|20588.853516| 83423|
|  28|2000-02-11|20969.699219|     24168.5|20969.699219|22746.800781|21495.675781|146728|
|  29|2000-02-14|22391.400391|22746.800781|21538.400391|     22462.5|21227.011719| 74982|
|  30|2000-02-15|     22462.5|22675.699219|21325.099609|21680.599609|20488.117188| 86518|
|  31|2000-02-16|21040.800781|21929.300781|20969.699219|21680.599609|20488.117188| 47127|
|  32|2000-02-17|21822.699219|23955.199219|21680.599609|23813.099609|22503.324219|436246|
|  33|2000-02-18|24879.300781|27331.699219|24737.199219|26656.400391|25190.236328|800464|
|  34|2000-02-21|     26301.0|27011.800781|     25021.5|     25874.5| 24451.34375|328486|
|  35|2000-02-22|26087.699219|27011.800781|22569.099609|     25021.5|23645.259766|231839|
|  36|2000-02-23|23528.699219|     25483.5|23528.699219|24737.199219|23376.595703|184290|
|  37|2000-02-24|     24168.5|     25021.5|23173.300781|24523.900391|23175.029297|124220|
|  38|2000-02-25|     24168.5|24808.199219|     23315.5|24808.199219|23443.689453|221007|
|  39|2000-02-28|24808.199219|25590.199219|23813.099609|24523.900391|23175.029297|144055|
+----+----------+------------+------------+------------+------------+------------+------+

### Remove the first row from the data (hint: drop the rows where ALL values are null), then add a new column "diff", which is the difference between high and low columns

In [9]:
df3 = df1.na.drop(how='all')
df4 = df3.withColumn('Diff',df3['High'] - df3['Low'])

### Create a new write stream using the new generated dataframe and call the generated table "modified_data"

In [10]:
writer2 = df4.writeStream.outputMode("append")\
    .format("memory")\
    .queryName('modified_data')

In [11]:
query2 = writer2.start()

23/10/31 18:12:55 WARN ResolveWriteToStream: Temporary checkpoint location created which is deleted normally when the query didn't fail: /tmp/temporary-4b9df4c0-352c-4678-81a4-041196549166. If it's required to delete it under any circumstances, please set spark.sql.streaming.forceDeleteTempCheckpointLocation to true. Important to know deleting temp checkpoint folder is best effort.
23/10/31 18:12:55 WARN ResolveWriteToStream: spark.sql.adaptive.enabled is not supported in streaming DataFrames/Datasets and will be disabled.

In [17]:
df5 = spark.sql('SELECT * FROM modified_data')
df5.show(150)

+---+----------+------------+------------+------------+------------+------------+------+------------------+
| Id|      Date|        Open|        High|         Low|       Close|   Adj_Close|Volume|              Diff|
+---+----------+------------+------------+------------+------------+------------+------+------------------+
|  0|2000-01-04|22817.900391|25696.800781|22817.900391|24879.300781|23510.880859|108745|2878.9003900000025|
|  1|2000-01-05|24523.900391|26229.900391|23670.900391|24417.300781|23074.294922|175990|            2559.0|
|  2|2000-01-06|24381.699219|24666.099609|22746.800781|22817.900391|21562.865234| 71746| 1919.298827999999|
|  3|2000-01-07|     22036.0|24879.300781|     22036.0|23884.199219|22570.513672|120984|2843.3007810000017|
|  4|2000-01-10|24879.300781|25519.099609|23813.099609|24061.900391|22738.439453|151371|            1706.0|
|  5|2000-01-11|     24168.5|     25021.5|23955.199219|24239.599609|22906.365234| 95943|1066.3007810000017|
|  6|2000-01-12|     24168.5|24452.800781|23457.599609|23670.900391|22368.947266| 61899|  995.201172000001|
|  7|2000-01-13|23670.900391|24132.900391|23102.199219|23244.400391| 21965.90625| 57538| 1030.701172000001|
|  8|2000-01-14|23457.599609|     24168.5|22746.800781|23244.400391| 21965.90625| 84267|1421.6992189999983|
|  9|2000-01-17|22533.599609|23457.599609|22533.599609|23457.599609|22167.376953| 67807|             924.0|
| 10|2000-01-18|23457.599609|     23742.0|22746.800781|23422.099609|22133.832031| 27995| 995.1992189999983|
| 11|2000-01-19|22817.900391|23173.300781|     22036.0|     22036.0|20823.970703| 44173|1137.3007810000017|
| 12|2000-01-20|21325.099609|22000.400391|     20756.5|21680.599609|20488.117188| 47550|1243.9003909999992|
| 13|2000-01-21|21680.599609|22391.400391|20863.099609|21680.599609|20488.117188| 80750|1528.3007819999984|
| 14|2000-01-24|20969.699219|21822.699219|20969.699219|20969.699219|19816.320313| 79906|             853.0|
| 15|2000-01-25|20258.900391|20934.199219|     19548.0|20116.699219|19010.236328|170925|1386.1992189999983|
| 16|2000-01-26|20223.300781|20543.199219|19761.300781|     20330.0|19211.804688| 59929| 781.8984379999965|
| 17|2000-01-27|     20401.0|22746.800781|     20330.0|21040.800781|19883.511719|139132|2416.8007810000017|
| 18|2000-01-28|21431.800781|22107.099609|21040.800781|21964.900391|20756.783203| 78640| 1066.298827999999|
| 19|2000-01-31|21325.099609|21893.800781|     21183.0|21467.300781|20286.552734| 45861| 710.8007810000017|
| 20|2000-02-01|22249.199219|22675.699219|21751.599609|21822.699219|20622.402344| 64009| 924.0996099999975|
| 21|2000-02-02|22249.199219|22675.699219|21858.300781|22604.599609|21361.294922| 55006| 817.3984379999965|
| 22|2000-02-03|22604.599609|23031.099609|     22036.0|22746.800781|21495.675781| 45721| 995.0996090000008|
| 23|2000-02-04|22746.800781|22746.800781|22746.800781|22746.800781|21495.675781|     0|               0.0|
| 24|2000-02-07|22746.800781|23066.699219|22107.099609|22533.599609|21294.199219| 65416| 959.5996099999975|
| 25|2000-02-08|22533.599609|23457.599609|22107.099609|22178.099609|20958.253906| 54865|            1350.5|
| 26|2000-02-09|22391.400391|23102.199219|     22036.0|22355.800781|21126.181641|120703|1066.1992189999983|
| 27|2000-02-10|     22036.0|22391.400391|     21218.5|21787.199219|20588.853516| 83423|1172.9003909999992|
| 28|2000-02-11|20969.699219|     24168.5|20969.699219|22746.800781|21495.675781|146728|3198.8007810000017|
| 29|2000-02-14|22391.400391|22746.800781|21538.400391|     22462.5|21227.011719| 74982|1208.4003900000025|
| 30|2000-02-15|     22462.5|22675.699219|21325.099609|21680.599609|20488.117188| 86518|1350.5996099999975|
| 31|2000-02-16|21040.800781|21929.300781|20969.699219|21680.599609|20488.117188| 47127| 959.6015620000035|
| 32|2000-02-17|21822.699219|23955.199219|21680.599609|23813.099609|22503.324219|436246|2274.5996099999975|
| 33|2000-02-18|24879.300781|27331.699219|24737.199219|26656.400391|25190.236328|800464|            2594.5|
| 34|2000-02-21|     26301.0|27011.800781|     25021.5|     25874.5| 24451.34375|328486|1990.3007810000017|
| 35|2000-02-22|26087.699219|27011.800781|22569.099609|     25021.5|23645.259766|231839| 4442.701172000001|
| 36|2000-02-23|23528.699219|     25483.5|23528.699219|24737.199219|23376.595703|184290|1954.8007810000017|
| 37|2000-02-24|     24168.5|     25021.5|23173.300781|24523.900391|23175.029297|124220|1848.1992189999983|
| 38|2000-02-25|     24168.5|24808.199219|     23315.5|24808.199219|23443.689453|221007|1492.6992189999983|
| 39|2000-02-28|24808.199219|25590.199219|23813.099609|24523.900391|23175.029297|144055|1777.0996099999975|
+---+----------+------------+------------+------------+------------+------------+------+------------------+

### Write the generated data into files instead of the memory.

In [13]:
writer3 = df4.writeStream.outputMode("append")\
.format("csv")\
.option("path", 'OutStream')\
.trigger(processingTime='10 second')\
.option("checkpointLocation", "chkpnt")
query3= writer3.start()

23/10/31 18:12:56 WARN ResolveWriteToStream: spark.sql.adaptive.enabled is not supported in streaming DataFrames/Datasets and will be disabled.

### Stop the query. Now, try reading the generated files into a normal dataframe
- Create a schema and use it to read the data.
- Show the output.

In [18]:
recordSchema = StructType([ StructField('Id',IntegerType(), True),
                            StructField('Date',DateType(), True),
                            StructField('Open', DoubleType(), True),
                            StructField('High', DoubleType(), True),
                            StructField('Low', DoubleType(), True),
                            StructField('Close', DoubleType(), True),
                            StructField('Adj_Close', DoubleType(), True),
                            StructField('Volume', IntegerType(), True),
                            StructField('Diff', DoubleType(), True)])

df6 = spark.read.format("csv")\
    .schema(recordSchema)\
    .load('OutStream')
df6.show()

+---+----------+------------+------------+------------+------------+------------+------+------------------+
| Id|      Date|        Open|        High|         Low|       Close|   Adj_Close|Volume|              Diff|
+---+----------+------------+------------+------------+------------+------------+------+------------------+
|  0|2000-01-04|22817.900391|25696.800781|22817.900391|24879.300781|23510.880859|108745|2878.9003900000025|
|  1|2000-01-05|24523.900391|26229.900391|23670.900391|24417.300781|23074.294922|175990|            2559.0|
|  2|2000-01-06|24381.699219|24666.099609|22746.800781|22817.900391|21562.865234| 71746| 1919.298827999999|
|  3|2000-01-07|     22036.0|24879.300781|     22036.0|23884.199219|22570.513672|120984|2843.3007810000017|
|  4|2000-01-10|24879.300781|25519.099609|23813.099609|24061.900391|22738.439453|151371|            1706.0|
|  5|2000-01-11|     24168.5|     25021.5|23955.199219|24239.599609|22906.365234| 95943|1066.3007810000017|
|  6|2000-01-12|     24168.5|24452.800781|23457.599609|23670.900391|22368.947266| 61899|  995.201172000001|
|  7|2000-01-13|23670.900391|24132.900391|23102.199219|23244.400391| 21965.90625| 57538| 1030.701172000001|
|  8|2000-01-14|23457.599609|     24168.5|22746.800781|23244.400391| 21965.90625| 84267|1421.6992189999983|
|  9|2000-01-17|22533.599609|23457.599609|22533.599609|23457.599609|22167.376953| 67807|             924.0|
| 10|2000-01-18|23457.599609|     23742.0|22746.800781|23422.099609|22133.832031| 27995| 995.1992189999983|
| 11|2000-01-19|22817.900391|23173.300781|     22036.0|     22036.0|20823.970703| 44173|1137.3007810000017|
| 12|2000-01-20|21325.099609|22000.400391|     20756.5|21680.599609|20488.117188| 47550|1243.9003909999992|
| 13|2000-01-21|21680.599609|22391.400391|20863.099609|21680.599609|20488.117188| 80750|1528.3007819999984|
| 14|2000-01-24|20969.699219|21822.699219|20969.699219|20969.699219|19816.320313| 79906|             853.0|
| 15|2000-01-25|20258.900391|20934.199219|     19548.0|20116.699219|19010.236328|170925|1386.1992189999983|
| 16|2000-01-26|20223.300781|20543.199219|19761.300781|     20330.0|19211.804688| 59929| 781.8984379999965|
| 17|2000-01-27|     20401.0|22746.800781|     20330.0|21040.800781|19883.511719|139132|2416.8007810000017|
| 18|2000-01-28|21431.800781|22107.099609|21040.800781|21964.900391|20756.783203| 78640| 1066.298827999999|
| 19|2000-01-31|21325.099609|21893.800781|     21183.0|21467.300781|20286.552734| 45861| 710.8007810000017|
+---+----------+------------+------------+------------+------------+------------+------+------------------+
only showing top 20 rows

### Sort the dataframe based on the ID

In [19]:
df6.sort('ID').show()

+---+----------+------------+------------+------------+------------+------------+------+------------------+
| Id|      Date|        Open|        High|         Low|       Close|   Adj_Close|Volume|              Diff|
+---+----------+------------+------------+------------+------------+------------+------+------------------+
|  0|2000-01-04|22817.900391|25696.800781|22817.900391|24879.300781|23510.880859|108745|2878.9003900000025|
|  1|2000-01-05|24523.900391|26229.900391|23670.900391|24417.300781|23074.294922|175990|            2559.0|
|  2|2000-01-06|24381.699219|24666.099609|22746.800781|22817.900391|21562.865234| 71746| 1919.298827999999|
|  3|2000-01-07|     22036.0|24879.300781|     22036.0|23884.199219|22570.513672|120984|2843.3007810000017|
|  4|2000-01-10|24879.300781|25519.099609|23813.099609|24061.900391|22738.439453|151371|            1706.0|
|  5|2000-01-11|     24168.5|     25021.5|23955.199219|24239.599609|22906.365234| 95943|1066.3007810000017|
|  6|2000-01-12|     24168.5|24452.800781|23457.599609|23670.900391|22368.947266| 61899|  995.201172000001|
|  7|2000-01-13|23670.900391|24132.900391|23102.199219|23244.400391| 21965.90625| 57538| 1030.701172000001|
|  8|2000-01-14|23457.599609|     24168.5|22746.800781|23244.400391| 21965.90625| 84267|1421.6992189999983|
|  9|2000-01-17|22533.599609|23457.599609|22533.599609|23457.599609|22167.376953| 67807|             924.0|
| 10|2000-01-18|23457.599609|     23742.0|22746.800781|23422.099609|22133.832031| 27995| 995.1992189999983|
| 11|2000-01-19|22817.900391|23173.300781|     22036.0|     22036.0|20823.970703| 44173|1137.3007810000017|
| 12|2000-01-20|21325.099609|22000.400391|     20756.5|21680.599609|20488.117188| 47550|1243.9003909999992|
| 13|2000-01-21|21680.599609|22391.400391|20863.099609|21680.599609|20488.117188| 80750|1528.3007819999984|
| 14|2000-01-24|20969.699219|21822.699219|20969.699219|20969.699219|19816.320313| 79906|             853.0|
| 15|2000-01-25|20258.900391|20934.199219|     19548.0|20116.699219|19010.236328|170925|1386.1992189999983|
| 16|2000-01-26|20223.300781|20543.199219|19761.300781|     20330.0|19211.804688| 59929| 781.8984379999965|
| 17|2000-01-27|     20401.0|22746.800781|     20330.0|21040.800781|19883.511719|139132|2416.8007810000017|
| 18|2000-01-28|21431.800781|22107.099609|21040.800781|21964.900391|20756.783203| 78640| 1066.298827999999|
| 19|2000-01-31|21325.099609|21893.800781|     21183.0|21467.300781|20286.552734| 45861| 710.8007810000017|
+---+----------+------------+------------+------------+------------+------------+------+------------------+
only showing top 20 rows